body{
    background: rgb(36, 36, 36);
}
.weather{
    display: none;
}
.bg{
margin-top: 10%;
    width: 350px;
    height: 100px;
    border-radius: 15px;

    background: rgb(0,181,208);
    background: linear-gradient(45deg, rgba(0,181,208,1) 0%, rgba(0,204,191,1) 47%, rgba(0,142,131,1) 100%);
    
}
#search{
    margin-top: 20px;
    height: 45px;
    border-radius: 30px;
    border: none;
    width: 250px;
    padding-left: 20px;
    font-size: 18px;
}
#search:focus{
    outline: none;
    font-size: 18px;
    
}
#btn{
    background:white;
    border: none;
    width:40px;
    height: 40px;
    border-radius: 50%;
}
#fill{
    color: white;
    margin-top: 5px;
    margin-left: -20px;
    display: none;
}
#invalidname{
    color: white;
    margin-top: 5px;
    margin-left: -20px;
    display: none;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#img{
    height: 130px;
    width: 130px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#temp{
    font-size: 35px;
    margin-top: -10px;
}
#Humidity{
    font-size: 15px;
    margin-left: -220px;
    margin-top: 50px;
}
#wind{
    font-size: 15px;
    margin-right: -200px;
    margin-top: -30px;
}
.sun{
    width: 300px;
}
@media only screen and (max-width: 720px) {
.bg{
height: 1000px;
padding-bottom: 0;
overflow: hidden;
margin-top: 100px;
}
body{
    margin: 0;
    padding: 0;
}
  }
@media only screen and (max-width: 352px) {
.bg{
height: 500px;
padding-bottom: 0;
overflow: hidden;
margin-top: 100px;
width: 320px;
}
body{
    margin: 0;
    padding: 0;
}
#Humidity{
    padding-left: 25px;
}
#wind{
    padding-right: 20px;
}
  }
@media only screen and (max-width: 322px) {
#bg{

padding-bottom: 0;
overflow: hidden;
margin-top: 100px;
width: 280px;
}
#search{
    width: 200px;
}
body{
    margin: 0;
    padding: 0;
}
#Humidity{

    padding-left: 65px;
}
#wind{

    padding-right: 65px;
}
#weather{
   
    height: 100px;
}
  }
@media only screen and (max-height: 586px) {
#bg{

padding-bottom: 0;
overflow: hidden;
margin-top: 65px;
width: 280px;
}
#search{
    width: 200px;
}
body{
    margin: 0;
    padding: 0;
}
#Humidity{

    padding-left: 65px;
}
#wind{

    padding-right: 65px;
}
#weather{
   
    height: 100px;
}
  }